/************************************************
****           PurfectPaws CSS               ****
****      Published by: Cody Koscielski      ****
************************************************/

/************************************************
****            Table of Contents            ****
****                                         ****
****           1. Base Styles                ****
****           2. Custom Classes             ****
****           3. Media Queries              ****
****                                         ****
************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}