/************************************************
****           PurfectPaws CSS               ****
****      Published by: Cody Koscielski      ****
************************************************/

/************************************************
****            Table of Contents            ****
****                                         ****
****           1. Base Styles                ****
****           2. Custom Classes             ****
****           3. Media Queries              ****
****                                         ****
************************************************/

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --soft-cream: #FDF7E9;
    --pastale-oragange: #FFC18A;
    --muted-coral: #F77B6E;
    --dusty-teal: #75A8A5;
    --light-gray: #C0C0C0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

/* 1, Bawe styles */


/* 2. Custom Classes */

/* -- Dashboard nav -- */
/* Base styles (Mobile First) */
.dashboard-navigation {
    background-color: var(--dusty-teal);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container img {
    width: 100px; /* Adjust as needed */
}

.mobile-alerts-and-menu {
    display: flex;
    align-items: center;
}

.alert {
    margin-right: 10px; /* Adjust as needed */
}

.sidebar-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 70px; /* Directly below the nav bar */
    left: 0;
    right: 0;
    background-color: var(--dusty-teal);
    display: none; /* Hidden by default for mobile */
    flex-direction: column;
    width: 100%;
    text-align: left;
}

.nav li {
    padding: 10px;
    border-top: 1px solid var(--soft-cream); /* Visual separation between menu items */
}

.nav a {
    color: white;
    text-decoration: none;
    display: block;
}


.desktop-buttons {
    display: none;
}
/* Styles for larger screens (Tablet/Desktop) */
@media (min-width: 768px) {

    .dashboard-navigation {
        padding: 10px 40px;
    }

    .nav {
        all: unset;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 50%;
        flex-direction: row;
    }

    .nav li {
        padding: 0;
        border-top: none;
    }

    .mobile-alerts-and-menu,
    .mobile-logout {
        display: none; /* Hide mobile-specific elements on desktop */
    }

    .nav-buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 1;
        order: 3;
    }

    .desktop-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 5%;
    }
}

/*-- End Dashboard Nav --*/

.main-content {
    margin: 0 10%;
    padding: 20px 0;
}